zig-cache
/.zig-cache/
zig-out
/vendor/netsurf/out
/vendor/libiconv/
lightpanda.id
/v8/

# Docker and deployment
.env
*.png
*.jpg
*.jpeg

# Examples
examples/node_modules/
examples/package-lock.json
examples/screenshot*.png
